* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f5f0;
    color: #333;
}

/* 所有頁面 */
.page {
    display: none;
    min-height: 100vh;
    padding: 60px 10%;
}

.page.active {
    display: block;
}

/* 首頁 */
#home {
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-top: 30px;
}

.subtitle {
    margin-top: 10px;
    color: #777;
}

/* 興趣區域 */
.world {
    position: relative;
    width: 800px;
    height: 550px;
    max-width: 90vw;
    margin: 50px auto;
}

/* 每個興趣 */
.interest {
    position: absolute;

    width: 150px;
    height: 130px;

    border: none;
    border-radius: 25px;

    background: white;

    font-size: 40px;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0,0,0,0.08);

    transition: 0.3s;
}

.interest span {
    display: block;
    font-size: 15px;
    margin-top: 8px;
}

.interest:hover {
    transform: translateY(-10px) scale(1.05);
}

/* 不同位置 */

.japan {
    top: 20px;
    left: 80px;
}

.music {
    top: 40px;
    right: 80px;
}

.science {
    bottom: 50px;
    left: 80px;
}

.dance {
    bottom: 40px;
    right: 80px;
}

.journey {
    top: 210px;
    left: 325px;
}

/* 中央的自己 */
.me {
    position: absolute;

    top: 215px;
    left: 335px;

    width: 130px;
    height: 110px;

    border-radius: 50%;

    background: #333;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 35px;
}

.me span {
    font-size: 13px;
}

/* 內頁 */
h2 {
    font-size: 42px;
    margin: 40px 0 20px;
}

.page > p {
    max-width: 700px;
    line-height: 1.8;
}

/* 返回按鈕 */
.back {
    border: none;
    background: transparent;
    cursor: pointer;

    font-size: 16px;
}

.back:hover {
    text-decoration: underline;
}

/* 卡片 */
.content-grid {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 25px;

    margin-top: 50px;
    
}

.music-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.card {
    background: white;

    border-radius: 20px;

    padding: 30px;

    min-height: 180px;

    font-size: 35px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.06);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 20px;
    margin: 15px 0;
}

.card p {
    font-size: 15px;
    line-height: 1.6;
}

.artist-grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 25px;
    margin: 20px 0;
}

.artist {
    text-align: center;
}

.artist img {
    width: 200px;
    height:200px;
    object-fit: contain;
    border-radius: 12px;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 25px;
    margin: 20px 0;
}

.album{
    text-align: center;
}

.album img {
    width: 200px;
    height:200px;
    object-fit: contain;
    border-radius: 12px;
}

.science-grid {
    margin-top: 20px;
}

.science-images {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
}

.science-images img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.science-video {
    margin-top: 30px;
    text-align: center;
}

.science-video video {
    width: 500px;
    max-width: 100%;
}

.japan-anime,
.japan-images {
    padding: 30px;
    text-align:left;
    min-width: 0;
}
.japan-anime img,
.japan-images img {
    display: block;
    height: 200px;
    object-fit: contain;
    border-radius: 20px;
    margin: 0;
}
/* 時間線 */

.timeline {
    max-width: 700px;
    margin-top: 50px;
}

.timeline-item {
    border-left: 3px solid #333;

    padding: 0 0 40px 30px;

    position: relative;
}

.timeline-item::before {
    content: "";

    width: 12px;
    height: 12px;

    background: #333;

    border-radius: 50%;

    position: absolute;

    left: -7px;
    top: 5px;
}

.timeline-item span {
    font-weight: bold;
}

.timeline-item p {
    margin-top: 10px;
}